:root {
  color-scheme: dark;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: #121212;
}

.primary-color {
  color: #e0e0e0;
}

.login-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.login-ui {
  background-color: #303030;
  padding: 50px;
  border-radius: 5px;
  width: max(20vw, 300px);
}

.display-block {
  display: block;
}

.login-input {
  width: 100%;
  padding: 10px;
  border: none;
  background: #121212;
  color: #e0e0e0;
  box-sizing: border-box;
  margin: 10px 0;
}

.login-page-buttons {
  width: 100%;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #2d77ed;
  margin-top: 20px;
}

.timeline {
  display: flex;
  align-items: center;
  white-space: nowrap;
  padding: 20px;
  height: 100%;
}

.timeline-item {
  color: white;
  width: 50vh;
  height: 50vh;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
}

.add-button {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 10px;
  font-size: 42px;
  cursor: pointer;
  background: #555555;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px);
}

.modal {
  background-color: #121212;
  border: 4px solid rgba(211, 211, 211, 0.638);
  border-radius: 15px;
  padding: 20px;
  z-index: 1001;
  width: 625px;
  height: 625px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.modal input,
.modal textarea {
  background-color: rgba(124, 124, 124, 0.293);
  border: none;
  /* border: 1px solid lightgray; */
  border-radius: 4px;
  padding: 7px;
  margin: 5px;
  width: 75%;
}

.placeholders {
  display: flex;
  align-items: center;
  gap: 10px;
}

.image-placeholder,
.text-placeholder {
  flex: 1;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-placeholder p {
  background-color: #121212;
  color: white;
  border: 1px solid white;
  border-radius: 3px;
  padding: 8px;
  margin-bottom: 10px;
}

.event-text-input {
  min-height: 320px;
  padding: 10px;
  box-sizing: border-box;
  resize: vertical;
}

.tags-input-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: none;
  margin-right: 50px;
  margin-left: 50px;
  min-height: 5px;
}

.tag {
  display: inline-flex;
  align-items: center;
  background-color: rgba(165, 208, 255, 0.35);
  color: white;
  border-radius: 16px;
  padding: 5px 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 14px;
}

.tag-delete-btn {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  margin-left: 5px;
}

.tags-input {
  border: none;
  outline: none;
  padding: 5px;
  font-size: 14px;
  width: 40% !important;
}

.submit-cancel-buttons {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  /* border: 1px solid white; */
}

.submit-button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 0.95em;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: rgba(115, 183, 255, 0.5);
  transition: background-color 0.2s, transform 0.1s;
}

.cancel-button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 0.95em;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: rgba(193, 223, 255, 0.394);
  transition: background-color 0.2s, transform 0.1s;
}

.submit-button:hover {
  background-color: #8ac3ff92;
  transform: scale(1.02);
}

.cancel-button:hover {
  background-color: #8ac3ff92;
  transform: scale(1.02);
}

.delete-content-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  margin: 2px;
  font-size: 0.95em;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: rgb(204, 47, 47);
  transition: background-color 0.2s, transform 0.1s;
}
